header {
  width: 100%;
  height: 8%;
  background-color: #23233b;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  text-decoration: none;
  color: aliceblue;
  display: inline;
}

nav ul li {
  font-size: 1.5em;
  margin: 1% 2%;
}

nav ul li a {
  text-decoration: none;
  color: aliceblue;
}
