.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 270px;
  height: 200px;
  background-color: #a3d63d;
  border-radius: 10px;
  margin: 1%;
}

.card-container .blogs-p {
  font-size: 1em;
  color: #23233b;
  padding: 0 4px;
  text-align: center;
  margin-top: 10px;
}

.card-container a {
  font-size: 1em;
  color: #a2e969;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.card-container .blogs-p span {
  font-size: 1.1em;
  color: #0909e4;
  text-align: start;
  font-weight: 100;
}

.card-container .delete-btn {
  width: 100px;
  height: 30px;
  font-size: 1em;
  color: aliceblue;
  background-color: #23233b;
  border: none;
  outline: none;
  margin-top: 15px;
  cursor: pointer;
}

.delete-btn:hover {
  color: #23233b;
  background-color: aliceblue;
}
