.welcome {
  width: 100%;
  height: 90%;
  background-image: url(../images/welcome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome h1 {
  font-size: 5em;
  color: #23233b;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
